.background-container {
    display:flex;
    flex-direction:column;
}

.image-background {
    background-image: url('./assets/background-pattern-desktop.svg');
    background-size: cover;
    height: 50vh;
}

.color-background {
    background-color:hsl(275, 100%, 97%);
    flex-grow: 1;
    height: 50vh;
}